body{
    background-color: var(--body-color);
}
header{
    background-color: var(--main--light-blue);
    padding: 2rem .5rem;
}
header nav ul li{
    display: inline-block;
    margin-left: 20px;
}
header nav ul li a:before{
    content:'';
    width:0;
    height:2px;
    position:absolute;
    left:0;
    bottom:-10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: var(--dark-blue);
}
header nav ul li a:hover:before{
    width: 100%;
}
header .register .btn:first-child{
    margin-right: 10px;
}
#hero{
    background-color: var(--main--light-blue);
}
#hero p{
    color: var(--paragraph);
}
#hero .hero-contnet{
    padding-top: 5rem;
    padding-left: 5rem;
}
#hero .hero-features.flex-wrapper{
    gap:20px;
}
#hero .feature{
    background-color: var(--dark);
    color:var(--white);
    padding: 1rem;
    border-radius: 5px;
    font-size: .8rem;
    width: 25%;
    text-align: justify;
    margin-top: 2rem;
}
.btn.login:hover{
    color: var(--white);
}
.f-icon svg{
    fill: var(--dark-blue);
    width: 35px;
}
#search{
    position: relative;
}
.search-box {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 10px;
}
.search-box form{
    width: 100%;
    gap:20px;
}
.search-box form > div{
    background-color: var(--input-color);
    border-radius: 5px;
    border: 1px solid var(--border);
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.search-box form > div i{
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    padding: 1rem .5rem;
    text-align: center;
}
.search-box form> div input{
    border:none;
    outline: none;
    background-color: transparent;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: all ease-in-out .2s;
}
.search-box form> div input:focus {
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
}
#results h5{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#results #result-list a{
    background-color: var(--main--light-blue);
    display: inline-block;
    padding: .4rem .5rem;
    line-height: 1.5;
    border: 1px solid var(--option-border);
}
#results #result-list a i{
    display: inline-block;
    margin-left: 3px;
}
#results #result-list a i:hover{
    color: var(--red);
}
#results #result-list a:not(:last-child){
    margin-right: 5px;
}
#results #result-list button.btn{
    background-color: var(--btn-blue);
    padding: .4rem 1rem;
    line-height: 1.5;
    color: var(--dark-blue);
}
#tab ul#tab-items {
    border-right: 2px solid var(--dark-blue);
    padding: 5px 10px;
}
#tab ul#tab-items li{
    color: var(--paragraph);
    cursor: pointer;
    transition: all ease-in-out .2s;
}
#tab ul#tab-items li.active{
    color: var(--dark);
}
#tab ul#tab-items li:hover{
    color: var(--dark-blue);
}

#tab ul#tab-items li:not(:last-child){
    margin-bottom: 20px;
}
#tab #tab-content{
    width: 100%;
    padding-left: 1rem;
}

#tab #tab-content ul li{
    padding: 1.7rem;
    background-color: var(--white);
    flex-direction: column;
    border-radius: 5px;
}
#tab #tab-content ul li .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: .5rem;
}
#tab #tab-content ul li .icon img{
    width: 30px;
}
#tab #tab-content ul li:first-child .icon{
    background-color: var(--icon-blue);
}
#tab #tab-content ul li:nth-child(2) .icon{
    background-color: var(--icon-yellow);
}
#tab #tab-content ul li:nth-child(3) .icon{
    background-color: var(--icon-black);
}
#tab #tab-content ul li:nth-child(4) .icon{
    background-color: var(--red);
}
#tab #tab-content ul li:nth-child(5) .icon{
    background-color: var(--icon-green);
}
#tab #tab-content ul li:last-child .icon{
    background-color: var(--icon-green);
}
#infos{
    padding: 10rem 0;
}
#infos .container{
    gap: 60px;
}

#infos #info-content p{
    color: var(--paragraph);
    margin-bottom: 2rem;
}
#options{
    border-left: 2px solid var(--option-border);
    padding-left: 2.5rem;
    position: relative;
    margin-left: 15px;
}
#options .option{
    margin-bottom: 50px;
}
#options .option h6{
    margin-bottom: 10px;
}
#options .option p{
    font-size: 12px;
    margin-bottom: 0;
}
#options .option .option-iocn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: -25px;
}
#options .option:first-child .option-iocn{
    background-color: var(--light-purple);
    color:var(--purple)
}
#options .option:nth-child(2) .option-iocn{
    background-color: var(--option-blue);
    color:var(--option-blue-dark)
}
#options .option:last-child .option-iocn{
    background-color: var(--light-green);
    color:var(--dark-green)
}

#wrapper-image{
    border-radius: 50%;
    width:450px;
    height:450px;
    overflow: hidden;
}
#doctor-search{
    position: relative;
}
#doctor-search form{
    position: absolute;
    border-radius: 10px;
    width: 200px;
    left: -120px;
    top:80px;
    background-color: var(--white);
    padding:1rem;
}
#doctor-search form > div{
    background-color: var(--input-color);
    border-radius: 5px;
    border: 1px solid var(--border);
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
#doctor-search form > div i{
    padding: .375rem .75rem;
    font-size: 1rem;
    padding: 1rem .5rem;
    text-align: center;
}
#doctor-search form> div input{
    border:none;
    outline: none;
    background-color: transparent;
    position: relative;
    flex: 1 1 auto;
    width: 75%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: all ease-in-out .2s;
}
#doctor-search form> div input:focus {
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
}
#doctor-search form button{
    width: 100%;
}
#our-features .features-doctors{
    position: relative;
}
#dr-list{
    padding:20px;
    border-radius: 10px;
}
#dr-list li {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#dr-list li img{
    border-radius: 50%;
}
#dr-list li:first-child img{
    background-color: var(--dark);
}
#dr-list li:nth-child(2) img{
    background-color: var(--dark-blue);
}
#dr-list li:nth-child(3) img{
    background-color: var(--purple);
}
#dr-list li:nth-child(4) img{
    background-color: var(--icon-black);
}
#dr-list li:last-child img{
    background-color: var(--option-blue-dark);
}
#dr-list li a{
    padding: .5rem 0;
    display: block;
}
#dr-list li i{
    cursor: pointer;
}
.features-list p{
    color: var(--paragraph);
    font-size: .9rem;
    margin-bottom: 2rem;
}
.features-list ul li{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.features-list ul li i{
    display: inline-block;
    color: var(--dark-blue);
    margin-right: .3rem;
    font-size: 1.5rem;
}
#specialists,#feedback{
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}
#specialists p{
    margin-bottom: 3rem;
    color: var(--paragraph);
    font-size: 13px;
}
#specialists .wrapper-doctors-list.flex-wrapper{
    gap:20px;
    flex-wrap: wrap;
}
#specialists .doctors{
    flex:20%;
    padding:1rem;
    background-color: var(--main-light-blue);
    border-radius: 1rem;
    transition: all ease-in-out .4s;
}
#specialists .doctors img{
    transition: all ease-in-out .2s;
    border-radius: 1rem;
}
#specialists .doctors:hover{
    background-color: var( --light-purple);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}
#specialists .doctors:hover img{
    transform: scale(.9);
}
#specialists .doctors h5 a:hover{
    color: var(--red);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}
#specialists .doctors h5,#specialists .doctors h6{
    margin-top: 1rem;
    margin-bottom: 0;
}
#specialists .doctors h6{
    font-size: 13px;
    color: var(--paragraph);
}
.feedback-slides{
    text-align: left;
    padding-left: 3rem;
    padding-right: 3rem;
}
#feedbakc-media{
    padding:0 2rem;
}
.feedback-top .f-avatar{
    background-color: var(--dark-green);
    border-radius: 5px;
}
.feedback-top .f-data h6{
    margin-bottom: .2rem;
}
.feedback-top .f-data span{
    display: block;
    color: var(--paragraph);
    font-size: .8rem;
}
.feedback-top .f-stars{
    color: var(--gold);
}
.feedback-slides p{
    margin-top: 2rem;
    color: var(--paragraph);
}
.sileds-dots{
    margin-top: 5rem;
}
.sileds-dots ul li{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    margin-right: 20px;
}
#subscribe{
    padding: 2rem 20rem 5rem;
}
#subscribe #subscribe-box{
    background-color: var(--dark-blue);
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
}
#subscribe #subscribe-box h2{
    color: var(--white);
    padding: 0 3rem;
}
#subscribe-element{
    width: 40%;
    margin: auto;
    background-color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
}
#subscribe-element input{
    background-color: transparent;
    width: 65%;
    border:0;
    line-height: 2;
}
#subscribe-element button{
    background-color: transparent;
    width: 30%;
    border: 0;
    background-color: var(--dark);
    line-height: 2;
    color: var(--white);
    transition: all ease-in-out 0.2s;
}   
#subscribe-element button:hover{
    background-color: var(--purple);
}
footer{
    background-color: var(--footer);
    padding:5rem 2rem;
}
footer .linke-footer , footer .links-footer a{
    display: block;
    margin-bottom: 15px;
    color: var(--paragraph);
}
footer h4{
    font-size: 1.5em;
    margin-top: 0;
}
footer #social{
    font-size: 30px;
}
footer  a:hover{
    color: var(--purple);
}
footer #social a:not(:last-child){
    margin-right: 10px;
}